<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<template name="postEdit">
  <form class="main form page">
      

    <div class="form-group {{errorClass 'title'}}">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="{{title}}" placeholder="Nombre de su post" class="form-control"/>
          <span class="help-block">{{errorMessage 'title'}}</span>
      </div>
    </div>
      
    <div class="form-group {{errorClass 'descripcion'}}">
      <label class="control-label" for="descripcion">Descripción</label>
      <div class="controls">
         <textarea name="descripcion" id="descripcion" class="form-control" value="{{descripcion}}"></textarea>
          <span class="help-block">{{errorMessage 'descripcion'}}</span>
      </div>
    </div>
      
      
    <input type="submit" value="Guardar cambios" class="btn btn-primary submit"/>
    
    <hr/>
    <a class="btn btn-danger delete" href="#">Borrar post</a>
  </form>
</template>