<!--
*Enlazamos un controlador de eventos al evento submit del formulario. 
*Es mejor usar el evento submit (en lugar de un click en un botón), 
*ya que cubrirá todas las posibles formas de envío (como por ejemplo pulsar intro).
-->
<template name="postSubmit">
    <form class="main form page">

        <div class="form-group {{errorClass 'tema'}}">        
              <label class="control-label" for="tema">{{_ "Tema"}}</label>
              <br>
              <select name="temas">
                  {{#each tema in temas}}
                  <option value="{{tema._id}}">{{tema.title}}</option>
                  {{/each}}            
              </select>
        </div>

        <div class="form-group {{errorClass 'title'}}">

            <label class="control-label" for="title">{{_ "Título"}}</label>
            <div class="controls">
                <input name="title" id="title" type="text" value="" placeholder='{{_ "Nombre del post"}}' class="form-control"/>
                <span class="help-block">{{errorMessage 'title'}}</span>
            </div>
        </div>

        <div class="form-group {{errorClass 'descripcion'}}">
            <label class="control-label" for="descripcion">{{_ "Descripción"}}</label>
            <div class="controls">        
                <textarea name="descripcion" id="descripcion" class="form-control" rows="6"></textarea>
                <span class="help-block">{{errorMessage 'descripcion'}}</span>

            </div>
        </div>

        <input type="submit" value='{{_ "Crear"}}' class="btn btn-primary"/>

    </form>
</template>